@mixin style-none {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin  d-flex {
  display: flex;
  align-items: center;
}
@mixin  between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin  center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin  around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin before {
  content: '';
  display: block;
}

@mixin  left {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,.1);
  transition: all 0.5s ease;
}
@mixin  right {
  position: absolute;
  bottom: -100%;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,.1);
  transition: all 0.5s ease;
  opacity: 0;
}

@mixin  right-hover {
  bottom: 0;
  right: 0;
  transition: all 0.5s ease;
  opacity: 1;
}
@mixin  left-hover {
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  opacity: 1;
}