// COLORS
$color-primary: #333;
$dark-color: #000;
$gray-color: #555;
$primary-yellow: #bac34e;
$light-color: #aaa;
$primary-gold: #f4ed23;
$primary-green: #0a472e;
$white-color: #fff;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-stack: 'Arial', sans-serif;

// font-weight
$e-bold: 700;
$bold: 400;