.about-us {
    padding: 30px 0;
    .about-us__inner-box {
        @include between();
        padding: 5px;
        .about-us__box {
            padding: 15px;
        }
        .about-us__box:not(:first-child) {
            padding: 35px 0 0 0;
        }
    }
    .about-us__title {
        font-weight: $bold;
        line-height: 1.1;
        color: $primary-green;
        font-size: 28px;
        margin: 0 0 8px;
    }
    .about-us__item-title {
        font-weight: $bold;
        line-height: 1.1;
        color: $primary-green;
        font-size: 18px;
        margin: 0 0 8px;
    }
    .about-us__item-text {
        font-weight: $e-bold;
        line-height: 1.25;
        color: $light-color;
        font-size: 14px;
        margin: 0 0 16px;
        width: 95%;
    } 
    .about-us__text {
        font-weight: $bold;
        line-height: 1.25;
        color: $light-color;
        font-size: 14px;
        margin: 0 0 16px;
        width: 95%;
    } 
}




// **************responsive****************


@media screen and (max-width: 992px) {
    //********** header***************

    .header__inner .header__btn-hidden{
        display: block;
    }
    .header__input-box {
        display: none;
    }
    .header__user-btn:nth-child(2) {
        display: none;
    }
    .header__user-btn:nth-child(1) {
        display: none;
    }
    .header__user-btn:nth-child(3) {
        margin: 0;
    }
    .header__inner .header__headphones {
        display: none;
    }
    .contact__navbar-inner {
        padding: 4px 0;
    }
    .barnav__menu-box {
        display: none;
    }
    .contact__shop-box  {
        width: 100%;
    }

}





@media screen  and (max-width: 540px){
    
    .about-us {
        padding: 30px 0;
        .about-us__inner-box {
            flex-direction: column;
            .about-us__box:not(:first-child) {
                padding: 10px 0 0 0;
            }
        }
        .about-us__item-text {
            width: 100%;
        } 
        .about-us__text {
            width: 100%;
        } 
    }
    
    
}