

// *****************header******************
.header {
    // margin: 0;
}
    //  ***********header navabr************8
    .header__navbar {
        // background-color: $primary-green;
    }
     .barnav__shop-box {
        //  padding: 12px 0;
        //  border-radius: 30px;
        //  background-color: $primary-yellow;
     }

// ***********header bottom*************
.header__headphones {
    @include d-flex();
    .header__phone-inner .bx {
        color: $primary-yellow;
        font-size: 40px;
        margin: 0 15px 0 0;
    }
    .header__call {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2.4px;
        color: $dark-color;
        margin:0 0 5px 0;
        text-transform: uppercase;
    }
    .header__call-phone {
        color: $primary-yellow;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
    }
}


// ************contact hero*************


.contact-hero {
    width: 100%;
    height: 300px;
    background-image: url('../../images/about-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 40px 0;
    .contact-hero__inner {
        @include d-flex();
        align-items: center;
        padding: 140px 0 0 0;
    }
    .contact-hero__link {
        font-size: 15px;
        color: $gray-color;
        text-decoration: none;
        text-transform: capitalize;
        @include d-flex();
        .bx {
            color: $gray-color;
            font-size: 16px;
            margin-left: 2px;
        }
    }
}